* {
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  position: relative;
  display: inline-block;
  transition: 0.25s all ease;
}

a * {
  pointer-events: none;
}

a:hover > button {
  opacity: 0.8;
  transform: translate(0px, -3px);
}

strong {
  font-family: 'Major Mono Display', monospace;
  line-height: 132%;
  padding: 5px;
  box-shadow: 0px 2px 0px 0px black;
}

.logo-title {
  font-family: 'Major Mono Display', monospace;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 40px;
  display: inline-block;
}

.title-special {
  position: relative;
}

.title-special:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 21px solid #f65757;
  right: 0;
  bottom: 1px;
  opacity: 0;
  transform: translate(0px, 0px);
  transition: 0.25s transform ease-out, 0.15s opacity ease-out 0.25s;
}

.logo-title:hover .title-special:after {
  opacity: 1;
  transform: translate(0px, -5px);
  transition: 0.25s transform ease-out 0.15s, 0.15s opacity ease-out;
}

#overlayAnimation {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to top, transparent, #ffcfcf);
}

.logo {
  position: relative;
  width: 200px;
  height: 200px;
  transition: 0.75s all cubic-bezier(0, 0.96, 0, 1.02);
}

.logo.active {
  transform: scale(1.2);
}
#four-satellites,
#four-satellites-1,
#four-satellites-2,
#four-satellites-3,
#four-satellites-4 {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  bottom: 0;
  width: 150%;
  height: 150%;
  margin-top: -25%;
  margin-left: -25%;
}

#four-satellites-4 {
  opacity: 0;
  transition: 2s all cubic-bezier(0, 0.96, 0, 1.02);
}

#four-satellites-4.active {
  opacity: 1;
}

#four-satellites-1 {
  transform-origin: 50%;
  transform: rotate(18deg);
  transition: 1s all ease;
}

#four-satellites-2 {
  transform-origin: 50%;
  transform: rotate(-38deg);
  transition: 1s all ease;
}

#four-satellites-3 {
  transform-origin: 50%;
  transform: rotate(-18deg);
  transition: 1s all ease;
}

.logo.active #four-satellites-1 {
  transform-origin: 50%;
  transform: rotate(-18deg);
}

.logo.active #four-satellites-2 {
  transform-origin: 50%;
  transform: rotate(38deg);
}

.logo.active #four-satellites-3 {
  transform-origin: 50%;
  transform: rotate(-90deg);
}

.fixed-nav {
  position: fixed;
  top: 5px;
  left: 5px;
  text-align: right;
  z-index: 999;
}

.fixed-nav ul {
  padding: 0px;
  margin: 0;
  list-style: none;
  position: relative;
}

.fixed-nav ul li a {
  color: black;
  margin-bottom: 0px;
  display: inline-block;
  padding: 5px;
  padding-left: 8px;
  font-size: 15px;
  text-transform: lowercase;
  font-family: 'Major Mono Display', monospace;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin: 5px;
}

.fixed-nav ul li a:hover {
  color: #f65757;
  opacity: 1;
}

.fixed-nav ul li a:hover:before {
  background-color: #f65757;
}

.fixed-nav ul li a:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0px;
  background-color: black;
  border-radius: 2px;
  left: 0;
  bottom: 0;
  transform: translate(-115%, 0px);
  transition: 0.25s all ease-in-out;
}

.fixed-nav ul li a {
  color: black;
  transition: 0.25s all ease-in-out;
}

footer {
  text-align: center;
  padding: 3rem 1rem;
}

footer > span {
  font-size: 0.75rem;
}

footer .logo-title {
  font-size: 25px;
}
